@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "JetBrains Mono";
}
body {
  background: #e9e9e9;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(4px);
  background: #0000005c;
}

.close-btn-container {
  display: flex;
  justify-content: center;
}
.received-coins-container {
  text-align: center !important;
  height: 100px !important;
  scroll-behavior: revert !important;
}

.list-container {
  border: 1px solid;
  height: 250px;
  overflow-y: auto;
  width: 390px;
  margin: 0 auto;
}

.coin-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
