@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "JetBrains Mono";
}
body {
  background: #e9e9e9;
}
/* button {
  color: inherit;
  text-decoration: inherit;
  border: 2px solid black;
  font-size: 0.5em;
  padding: 0.5em 2em;
  margin: 1em;
  background-color: inherit;
}
button:hover {
  color: white;
  background-color: black;
  text-decoration: inherit;
  cursor: pointer;
} */

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(4px);
  background: #0000005c;
}
/* .modal-content {
  border: 2px solid black;
  text-align: center;
  width: 30vw;
  padding: 1em;
  margin: 15% auto;
  background-color: white;
} */
.close-btn-container {
  display: flex;
  justify-content: center;
}
