@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "JetBrains Mono";
}
body {
  background: #e9e9e9;
}
.dark body {
  background: #000029 !important;
}
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(4px);
  background: #0000005c;
}

.close-btn-container {
  display: flex;
  justify-content: center;
}
.received-coins-container {
  text-align: center !important;
  height: 100px !important;
  scroll-behavior: revert !important;
}

.list-container {
  border: 1px solid;
  height: 250px;
  overflow-y: auto;
  width: 390px;
  margin: 0 auto;
}

.coin-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.react-tooltip {
  z-index: 50 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e700;
  border: 1px solid #302c4a;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #363636;
}
